.comment-item {
  padding: 1em;
  width: 70%;
  border-radius: 20px;
  background-color: #c4ced4;
  margin-bottom: 5px;
}
.comment-details {
  display: flex;
  align-items: flex-start;
  gap: 1em;
}
.profile-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex-shrink: 0;
  /* background-color: green; */
}
.profile-name {
  margin-top: 0;
  font-weight: bold;
  font-size: 1.2em;
}
.date {
  color: #8b8b8b;
  margin-left: 1em;
  font-size: 0.7em;
  font-weight: normal;
}
.comment-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.like-btn {
  color: lightslategray;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}
.like-btn p {
  padding-block: 0;
}
.btn-liked {
  color: blue;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
}
.delete-btn img {
  width: 20px;
  height: 20px;
}

.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
